<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Moon</title>
    <!--<script src="../Build/CesiumUnminified/Cesium.js"></script>-->
    <script src="res/cesium/CesiumUnminified/Cesium.js"></script>
    <style>
        @import url(res/cesium/CesiumUnminified/Widgets/widgets.css);
        @import url(res/bootstrap/css/bootstrap.css);
        html, body, #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #eye {
            position: absolute;
            width: 300px;
            height: 300px;
            bottom: 20px;
            right: 10px;
            z-index: 999;
            background: black;
            border: solid white 2px;
        }

        #toolbar {
            position: absolute;
            width: 300px;
            height: 50px;
            top: 20px;
            left: 10px;
            z-index: 999;
        }
        #layer_table {
            color:white;
        }
    </style>
</head>
<body>
<div id="cesiumContainer"></div>
<div id="loadingIndicator" class="loadingIndicator"></div>
<div id="eye"></div>
<div id="toolbar">
    <p>
        <button type="button" class="btn btn-primary" onclick="moveModel(1)">前</button>
        <button type="button" class="btn btn-primary" onclick="moveModel(0)">后</button>
    </p>
    <p>
        <button type="button" class="btn btn-primary" onclick="rotateModel(1)">左</button>
        <button type="button" class="btn btn-primary" onclick="rotateModel(0)">右</button>
    </p>
    <p>
        <button type="button" class="btn btn-primary" onclick="testMove()">连续前进</button>
    </p>
        <table id="layer_table"><tbody>
        </tbody>
    </table>
</div>
<script>
    const appConfig = {
            dimensions: {
                'x': 1737400.0,
                'y': 1737400.0,
                'z': 1735970.0
            },
            model: {
                url: "/res/3d/cs.glb",
                lng: 30,
                lat: 10,
                height: 0,
                heading: 0,
                pitch: 0,
                roll: 0,
                headingOffset: 260,
                step: 1000,
                rotation: 45
            },
            terrainProvider: {
                url: "http://192.168.31.178:8080/moon/terrian_tiles"
            },
            imageryProviders: [
                {
                    layerName: "LRO_WAC_Mosaic_Global",
                    url: "http://192.168.31.247:8080/viewer/tiles/Moon/EQ/LRO_WAC_Mosaic_Global_303ppd_v02/1.0.0/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}.jpg",
                    format: 'image/jpeg',
                    layer: "USGSShadedReliefOnly",
                    tileMatrixSetID: "default028mm",
                    maximumLevel: 19,
                    type: "1"
                }
            ]
        }
    ;
    //const moonEllipsoid = Cesium.freezeObject(new Cesium.Ellipsoid(appConfig.dimensions.x, appConfig.dimensions.y, appConfig.dimensions.z));
    const moonEllipsoid = Cesium.Ellipsoid.WGS84;
    //Cesium.Ellipsoid.WGS84 = moonEllipsoid;

    const terrainProvider = new Cesium.CesiumTerrainProvider({
        url: appConfig.terrainProvider.url,
        requestVertexNormals: true,
        ellipsoid: moonEllipsoid
    });

    const viewerOptions = {
        //mapProjection: new Cesium.GeographicProjection(moonEllipsoid),
        //globe: new Cesium.Globe(moonEllipsoid),
        baseLayerPicker: false,
        selectionIndicator: false,
        timeline: false,
        animation: false,
        navigationInstructionsInitiallyVisible: false,
        trashButton: true,
        terrainProvider: terrainProvider,
        terrainExaggeration: 5,
        skyAtmosphere: false,
        geocoder:false,
        skyBox: new Cesium.SkyBox({show: false})
    };
    let viewModel = {};
    let viewer;
    const modelConfig = appConfig.model;
    let initPosition = Cesium.Cartesian3.fromDegrees(modelConfig.lng, modelConfig.lat, modelConfig.height, moonEllipsoid);
    let initX = initPosition.x; //模型初始x
    let initY = initPosition.y; //模型初始y
    let initZ = initPosition.z; //模型初始z
    console.log("x=" + initX + ",y=" + initY + ",z=" + initZ);
    let initheading = modelConfig.heading;  //模型初始heading
    let initpitch = modelConfig.pitch; //模型初始pitch
    let initroll = modelConfig.roll; //模型初始roll
    let myModel;


    function EagleEye(viewer, containerId) {
        this._ref_viewer = viewer;
        this._viewer = null;
        this.init = function () {
            let eagleEyeOptions = viewerOptions;
            eagleEyeOptions.fullscreenButton = false;
            eagleEyeOptions.homeButton = false;
            eagleEyeOptions.timeline = false;
            eagleEyeOptions.sceneModePicker = false;
            eagleEyeOptions.navigationHelpButton = false;
            eagleEyeOptions.infoBox = false;
            eagleEyeOptions.navigationInstructionsInitiallyVisible = false;
            this._viewer = new Cesium.Viewer(containerId, eagleEyeOptions);
            this._viewer._cesiumWidget._creditContainer.style.display = "none";
            let control = this._viewer.scene.screenSpaceCameraController;
            let scene = this._viewer.scene;
            scene.globe.showGroundAtmosphere = false;
            scene.fog.enabled = false;
            scene.moon.show = false;
            scene.sun.show = false;
            control.enableRotate = false;
            control.enableTranslate = false;
            control.enableZoom = false;
            control.enableTilt = false;
            control.enableLook = false;
            let that = this;
            this._ref_viewer.eagleEye = this;
            this._ref_viewer.entities.add({
                position: Cesium.Cartesian3.fromDegrees(0, 0),
                label: {
                    text: new Cesium.CallbackProperty(function () {
                        that.synViewer();
                        return "";
                    }, true)
                }
            });
        };
        this.synViewer = function () {
            this._viewer.camera.flyTo({
                destination: createCartesian3(new Cesium.Cartesian3(initX, initY, initZ), moonEllipsoid, 500),
                orientation: {
                    heading: Cesium.Math.toRadians(getOffset(initheading)),
                    pitch: Cesium.Math.toRadians(-30),
                    roll: Cesium.Math.toRadians(0)
                },
                duration: 0.0
            });
        };
        this.addImageryProvider = function(imageryProvider) {
            this._viewer.imageryLayers.addImageryProvider(imageryProvider);
        };
        this.getImageryLayers = function() {
            return this._viewer.imageryLayers;
        }
    }

    function rotateModel(v) {
        //每次转向角度
        const rotation = appConfig.model.rotation;
        if (v === 0) {
            if ((initheading + rotation) > 360) {
                initheading = initheading + rotation - 360;
            } else {
                initheading = initheading + rotation;
            }
        } else {
            if ((initheading - rotation) < 0) {
                initheading = 360 + initheading - rotation;
            } else {
                initheading = initheading - rotation;
            }
        }
        const position = new Cesium.Cartesian3(initX, initY, initZ);
        console.log("initheading=" + initheading);
        myModel.position = position;
        myModel.orientation = Cesium.Transforms.headingPitchRollQuaternion(position, new Cesium.HeadingPitchRoll(Cesium.Math.toRadians(initheading), initpitch, initroll));
    }

    function moveModel(v) {
        //每次移动距离
        const step = v === 0 ? -appConfig.model.step : appConfig.model.step;
        const xMargin = Math.cos(Cesium.Math.toRadians(getOffset(initheading))) * step;
        const yMargin = Math.sin(Cesium.Math.toRadians(getOffset(initheading))) * step;
        initX = initX + xMargin;
        initY = initY + yMargin;
        const position = new Cesium.Cartesian3(initX, initY, initZ);
        //myModel.modelMatrix = Cesium.Transforms.headingPitchRollToFixedFrame(createCartesian3(xyz, Cesium.Ellipsoid.WGS84, 0), new Cesium.HeadingPitchRoll(Cesium.Math.toRadians(initheading), initpitch, initroll), Cesium.Ellipsoid.WGS84, Cesium.Transforms.eastNorthUpToFixedFrame, new Cesium.Matrix4());
        console.log("initheading=" + initheading);
        myModel.position = position;
        myModel.orientation = Cesium.Transforms.headingPitchRollQuaternion(position, new Cesium.HeadingPitchRoll(Cesium.Math.toRadians(initheading), initpitch, initroll));
    }

    /**
     * 获取当前笛卡尔坐标，同时返回相同位置指定高度的笛卡尔坐标
     * @param cartesian3 模型笛卡尔坐标
     * @param ellipsoid 椭球体定义
     * @param height 指定高度
     * @returns 指定高度下同位置笛卡尔坐标
     */
    function createCartesian3(cartesian3, ellipsoid, height) {
        const cartographic = ellipsoid.cartesianToCartographic(cartesian3);
        const lat = Cesium.Math.toDegrees(cartographic.latitude);
        const lng = Cesium.Math.toDegrees(cartographic.longitude);
        return Cesium.Cartesian3.fromDegrees(lng, lat, height, ellipsoid);
    }


    function addImageryProviders(imageryProviderConfigs, viewer) {
        if (imageryProviderConfigs == null || imageryProviderConfigs.length === 0) {
            console.warn("未配置影像图层信息");
        } else {
            let layersHtml = document.getElementById("layer_table");
            for (let i = 0; i < imageryProviderConfigs.length; i++) {
                let providerConfig = imageryProviderConfigs[i];
                const type = providerConfig.type == null ? "0" : providerConfig.type;
                let imageryProvider;
                //根据不同type生成不同ImageryProvicer TODO 后续根据需要添加
                switch(type) {
                    case "0" :
                        imageryProvider = new Cesium.WebMapServiceImageryProvider({
                        url: providerConfig.url,
                        parameters: {format: providerConfig.format},
                        layers: providerConfig.layer,
                        credit: 'USGS @ wms.wr.usgs.gov',
                        ellipsoid: moonEllipsoid,
                        enablePickFeatures: false
                    });
                        break;
                    case "1":
                        imageryProvider = new Cesium.WebMapTileServiceImageryProvider({
                            url:providerConfig.url,
                            layer : providerConfig.layer,
                            style : Cesium.defined(providerConfig.style)? providerConfig.style : "default",
                            format : providerConfig.format,
                            tileMatrixSetID : Cesium.defined(providerConfig.tileMatrixSetID)? providerConfig.tileMatrixSetID:'default028mm',
                            maximumLevel: Cesium.defined(providerConfig.maximumLevel)? providerConfig.maximumLevel: 19,
                            credit: 'USGS @ wms.wr.usgs.gov',
                            ellipsoid: moonEllipsoid,
                            enablePickFeatures: false
                        });
                        break;
                    default:
                        imageryProvider = new Cesium.WebMapServiceImageryProvider({
                            url: providerConfig.url,
                            parameters: {format: providerConfig.format},
                            layers: providerConfig.layers,
                            credit: 'USGS @ wms.wr.usgs.gov',
                            ellipsoid: moonEllipsoid,
                            enablePickFeatures: false
                        });
                }
                if (i === 0) {
                    viewer.imageryLayers.removeAll(true);
                    if (Cesium.defined(viewer.eagleEye)) {
                        viewer.eagleEye.getImageryLayers().removeAll(true);
                    }
                }
                viewer.imageryLayers.addImageryProvider(imageryProvider, i);
                if (Cesium.defined(viewer.eagleEye)) {
                    viewer.eagleEye.addImageryProvider(imageryProvider, i);
                }
                //创建图层控制信息
                let tr = document.createElement('TR');
                let nameTd = document.createElement('TD');
                nameTd.appendChild(document.createTextNode(providerConfig.layerName));
                tr.appendChild(nameTd);
                let layerTd = document.createElement('TD');
                let btnShowLayer = document.createElement('INPUT');
                btnShowLayer.type = 'checkbox';
                btnShowLayer.className = 'form-check-input';
                btnShowLayer.setAttribute('data-bind', 'attr: { title:\"' + providerConfig.layerName + '\"},checked : show_' + i);
                layerTd.appendChild(btnShowLayer);
                tr.appendChild(layerTd);
                let opaticyTd = document.createElement('TD');
                let inputRange = document.createElement('INPUT');
                inputRange.type = 'range';
                inputRange.className = 'form-control-range';
                inputRange.min = '0';
                inputRange.max = '1';
                inputRange.step = '0.05';
                inputRange.setAttribute('data-bind', 'value: alpha_' + i + ', valueUpdate: \"input\"');
                opaticyTd.appendChild(inputRange);
                tr.appendChild(opaticyTd);
                layersHtml.appendChild(tr);
                if (i === 0) {
                    viewModel['show_' + i] = Cesium.knockout.observable(true);
                    viewModel['alpha_' + i] = Cesium.knockout.observable(1.0);
                } else {
                    viewModel['show_' + i] = Cesium.knockout.observable(false);
                    viewModel['alpha_' + i] = Cesium.knockout.observable(0.5);
                }
            }
            Cesium.knockout.track(viewModel);
            Cesium.knockout.applyBindings(viewModel, layersHtml);
            for (let name in viewModel) {
                if (viewModel.hasOwnProperty(name)) {
                    Cesium.knockout.getObservable(viewModel, name).subscribe(updatePostProcess);
                }
            }
        }
    }

    /**
     * 添加模型信息
     * @param modelUrl 模型URL
     * @param position 模型位置
     * @param headingPitchRoll 模型方位信息
     * @param ellipsoid 椭球体定义
     * @param viewer 目的cesium viewer
     * @returns 添加后的cesium entity对象
     */
    function addModel(modelUrl, position, headingPitchRoll, ellipsoid, viewer) {
        let model = viewer.entities.add({
            name : modelUrl,
            position : position,
            orientation : Cesium.Transforms.headingPitchRollQuaternion(position, headingPitchRoll),
            model : {
                uri : modelUrl,
                minimumPixelSize : 128,
                maximumScale : 20000,
                heightReference: Cesium.HeightReference.CLAMP_TO_GROUND
            }
        });
        viewer.trackedEntity = model;
        /*viewer.flyTo(model,{
            duration: 0.5
        });*/
        return model;
    }

    function testMove() {
        let timesRun = 0;
        let interval = setInterval(function(){
            timesRun += 1;
            if(timesRun === 60){
                clearInterval(interval);
            }
            moveModel(1);
        }, 100);
    }

    window.onload = function(){
        viewer = new Cesium.Viewer('cesiumContainer', viewerOptions);
        let scene = viewer.scene;
        scene.globe.showGroundAtmosphere = false;
        scene.fog.enabled = false;
        scene.moon.show = false;
        scene.sun.show = false;
        //viewer.extend(Cesium.viewerCesiumInspectorMixin);
        //添加相机初始化
        let eagleEye = new EagleEye(viewer, "eye");
        eagleEye.init();

        //添加图层
        addImageryProviders(appConfig.imageryProviders, viewer);

        //添加模型
       myModel = addModel(modelConfig.url, initPosition, new Cesium.HeadingPitchRoll(initheading, initpitch, initroll), moonEllipsoid, viewer);
    };

    /**
     * 计算模型方位偏移量
     * @param heading 模型方位角
     * @returns {number} 偏移后方位角
     */
    function getOffset(heading) {
        const offset = appConfig.model.headingOffset;
        if (heading < offset) {
            return 360 + heading - offset;
        } else {
            return heading - offset;
        }
    }


    function updatePostProcess() {
        for (let i = 0; i < viewer.imageryLayers.length; i ++) {
            viewer.imageryLayers.get(i).show = viewModel["show_" + i];
            viewer.imageryLayers.get(i).alpha = viewModel["alpha_" + i];
            if (Cesium.defined(viewer.eagleEye)) {
                viewer.eagleEye.getImageryLayers.get(i).show = viewModel["show" + i];
                viewer.eagleEye.getImageryLayers.get(i).alpha = viewModel["alpha_" + i];
            }
        }
    }
</script>
</body>
</html>
